/Macs.WebApi.DataAccess/bin/Debug/net8.0/Macs.WebApi.DataAccess.deps.json
/Macs.WebApi.DataAccess/bin/Debug/net8.0/Macs.WebApi.DataAccess.dll
/Macs.WebApi.DataAccess/bin/Debug/net8.0/Macs.WebApi.DataAccess.pdb
/Macs.WebApi.DataAccess/bin/Debug/net8.0/Macs.WebApi.Models.dll
/Macs.WebApi.DataAccess/bin/Debug/net8.0/Macs.WebApi.Models.pdb
/Macs.WebApi.DataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.AssemblyInfo.cs
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.AssemblyInfoInputs.cache
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.GlobalUsings.g.cs
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.assets.cache
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.csproj.AssemblyReference.cache
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.csproj.CopyComplete
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.csproj.CoreCompileInputs.cache
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.csproj.FileListAbsolute.txt
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.dll
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.pdb
/Macs.WebApi.DataAccess/obj/Debug/net8.0/Macs.WebApi.DataAccess.sourcelink.json
/Macs.WebApi.DataAccess/obj/Debug/net8.0/ref/Macs.WebApi.DataAccess.dll
/Macs.WebApi.DataAccess/obj/Debug/net8.0/refint/Macs.WebApi.DataAccess.dll
/Macs.WebApi.DataAccess/obj/Macs.WebApi.DataAccess.csproj.nuget.dgspec.json
/Macs.WebApi.DataAccess/obj/Macs.WebApi.DataAccess.csproj.nuget.g.props
/Macs.WebApi.DataAccess/obj/Macs.WebApi.DataAccess.csproj.nuget.g.targets
/Macs.WebApi.DataAccess/obj/project.assets.json
/Macs.WebApi.DataAccess/obj/project.nuget.cache
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Azure.Core.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Azure.Identity.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Azure.Security.KeyVault.Certificates.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Azure.Security.KeyVault.Secrets.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.DataAccess.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.DataAccess.pdb
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Endpoints.deps.json
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Endpoints.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Endpoints.exe
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Endpoints.pdb
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Endpoints.runtimeconfig.json
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Handlers.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Handlers.pdb
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Models.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Macs.WebApi.Models.pdb
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.Identity.Web.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/Macs.WebApi.Endpoints/bin/Debug/net8.0/appsettings.Development.json
/Macs.WebApi.Endpoints/bin/Debug/net8.0/appsettings.json
/Macs.WebApi.Endpoints/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Macs.WebApi.Endpoints/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.AssemblyInfo.cs
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.AssemblyInfoInputs.cache
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.GlobalUsings.g.cs
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.assets.cache
/Macs.WebApi.Endpoints/obj/Debug/net7.0/Macs.WebApi.Endpoints.csproj.AssemblyReference.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.AssemblyInfo.cs
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.AssemblyInfoInputs.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.GlobalUsings.g.cs
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.MvcApplicationPartsAssemblyInfo.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.MvcApplicationPartsAssemblyInfo.cs
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.assets.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.csproj.AssemblyReference.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.csproj.CopyComplete
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.csproj.CoreCompileInputs.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.csproj.FileListAbsolute.txt
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.dll
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.genruntimeconfig.cache
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.pdb
/Macs.WebApi.Endpoints/obj/Debug/net8.0/Macs.WebApi.Endpoints.sourcelink.json
/Macs.WebApi.Endpoints/obj/Debug/net8.0/apphost.exe
/Macs.WebApi.Endpoints/obj/Debug/net8.0/ref/Macs.WebApi.Endpoints.dll
/Macs.WebApi.Endpoints/obj/Debug/net8.0/refint/Macs.WebApi.Endpoints.dll
/Macs.WebApi.Endpoints/obj/Debug/net8.0/staticwebassets.build.json
/Macs.WebApi.Endpoints/obj/Debug/net8.0/staticwebassets/msbuild.build.Macs.WebApi.Endpoints.props
/Macs.WebApi.Endpoints/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Macs.WebApi.Endpoints.props
/Macs.WebApi.Endpoints/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Macs.WebApi.Endpoints.props
/Macs.WebApi.Endpoints/obj/Macs.WebApi.Endpoints.csproj.nuget.dgspec.json
/Macs.WebApi.Endpoints/obj/Macs.WebApi.Endpoints.csproj.nuget.g.props
/Macs.WebApi.Endpoints/obj/Macs.WebApi.Endpoints.csproj.nuget.g.targets
/Macs.WebApi.Endpoints/obj/project.assets.json
/Macs.WebApi.Endpoints/obj/project.nuget.cache
/Macs.WebApi.Models/bin/Debug/net8.0/Macs.WebApi.Models.deps.json
/Macs.WebApi.Models/bin/Debug/net8.0/Macs.WebApi.Models.dll
/Macs.WebApi.Models/bin/Debug/net8.0/Macs.WebApi.Models.pdb
/Macs.WebApi.Models/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Macs.WebApi.Models/obj/Debug/net7.0/Macs.WebApi.Models.AssemblyInfo.cs
/Macs.WebApi.Models/obj/Debug/net7.0/Macs.WebApi.Models.AssemblyInfoInputs.cache
/Macs.WebApi.Models/obj/Debug/net7.0/Macs.WebApi.Models.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.Models/obj/Debug/net7.0/Macs.WebApi.Models.GlobalUsings.g.cs
/Macs.WebApi.Models/obj/Debug/net7.0/Macs.WebApi.Models.assets.cache
/Macs.WebApi.Models/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.AssemblyInfo.cs
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.AssemblyInfoInputs.cache
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.GlobalUsings.g.cs
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.assets.cache
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.csproj.CoreCompileInputs.cache
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.csproj.FileListAbsolute.txt
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.dll
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.pdb
/Macs.WebApi.Models/obj/Debug/net8.0/Macs.WebApi.Models.sourcelink.json
/Macs.WebApi.Models/obj/Debug/net8.0/ref/Macs.WebApi.Models.dll
/Macs.WebApi.Models/obj/Debug/net8.0/refint/Macs.WebApi.Models.dll
/Macs.WebApi.Models/obj/Macs.WebApi.Models.csproj.nuget.dgspec.json
/Macs.WebApi.Models/obj/Macs.WebApi.Models.csproj.nuget.g.props
/Macs.WebApi.Models/obj/Macs.WebApi.Models.csproj.nuget.g.targets
/Macs.WebApi.Models/obj/project.assets.json
/Macs.WebApi.Models/obj/project.nuget.cache
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.DataAccess.dll
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.DataAccess.pdb
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.Handlers.deps.json
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.Handlers.dll
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.Handlers.pdb
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.Models.dll
/Macs.WebApi.Handlers/bin/Debug/net8.0/Macs.WebApi.Models.pdb
/Macs.WebApi.Handlers/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.AssemblyInfo.cs
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.AssemblyInfoInputs.cache
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.GeneratedMSBuildEditorConfig.editorconfig
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.GlobalUsings.g.cs
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.assets.cache
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.csproj.AssemblyReference.cache
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.csproj.CopyComplete
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.csproj.CoreCompileInputs.cache
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.csproj.FileListAbsolute.txt
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.dll
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.pdb
/Macs.WebApi.Handlers/obj/Debug/net8.0/Macs.WebApi.Handlers.sourcelink.json
/Macs.WebApi.Handlers/obj/Debug/net8.0/ref/Macs.WebApi.Handlers.dll
/Macs.WebApi.Handlers/obj/Debug/net8.0/refint/Macs.WebApi.Handlers.dll
/Macs.WebApi.Handlers/obj/Macs.WebApi.Handlers.csproj.nuget.dgspec.json
/Macs.WebApi.Handlers/obj/Macs.WebApi.Handlers.csproj.nuget.g.props
/Macs.WebApi.Handlers/obj/Macs.WebApi.Handlers.csproj.nuget.g.targets
/Macs.WebApi.Handlers/obj/project.assets.json
/Macs.WebApi.Handlers/obj/project.nuget.cache
/.github
bin
obj
/.vs/Macs.WebApi/DesignTimeBuild/.dtbcache.v2
/.vs/Macs.WebApi/FileContentIndex/1d7290f6-68ce-4cca-8958-1fd1aaa99795.vsidx
/.vs/Macs.WebApi/FileContentIndex/ca6657a8-2103-4299-8cb3-7cebae2c6b71.vsidx
/.vs/Macs.WebApi/FileContentIndex/d53d7ccd-8d9e-4b74-906d-67fe1b2c42b1.vsidx
/.vs/Macs.WebApi/FileContentIndex/e30cb624-9aee-4808-ba96-afd116e4dc4d.vsidx
/.vs/Macs.WebApi/FileContentIndex/f6b3067a-e4d2-4a15-876f-5bc019745e12.vsidx
/.vs/Macs.WebApi/config/applicationhost.config
/.vs/Macs.WebApi/v17/.futdcache.v2
/.vs/Macs.WebApi/v17/.suo
*.bin
*.vsidx
